.FraganciasMasVendidas{
    text-align: center;
    background-color: white;
    color: #6C6EA0;
    width:100%;
    height:400px; 
    background: linear-gradient(to top, white , #66C7F4);
        .sizeCarrousel{
            width: 250px;
            margin: 0 auto;
        }		
            .imgFraganciasMasVendidas{
                        height: 250px;
                        margin: 0 auto;
                }
}