@media only screen and (max-width: 768px){
    body{
        background-color: orange;	
    }

    h2{
        background-color: blue;
        color: black;
    }
}	


@media only screen and (min-width: 768px){
body{
    background-color: green;	
}

 h2{
    background-color: violet;
    color: black;
}
}

@media only screen and (min-width: 1024px){
body{
    background-color: #f8fbfc ;	
}

h2{
    background-color: #f8f6f6 ;
    color: #06d4f9;
}
}